Repository d4l-data4life/hc-result-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, documentation, flow-library, error-library, sample-android, sample-jvm

.github/labeler.yml:

build:
  - .github/**/*

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - sdk-doc/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Platform
flow-library:
  - flow/**/*

error-library:
  - error/**/*

# Sample
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*

Freeze values
  flow/src/iosMain/kotlin/care/data4life/sdk/flow/D4LSDKFlow.kt
  flow/src/iosTest/kotlin/care/data4life/sdk/flow/D4lSDKFlowTest.kt
Labels: flow-library

Update Changelog
  CHANGELOG.adoc
Labels: documentation

Poke flaky test
  flow/src/jvmTest/kotlin/care/data4life/sdk/flow/D4LSDKFlowTest.kt
Labels: flow-library

Apply formatting
  flow/src/jvmTest/kotlin/care/data4life/sdk/flow/D4LSDKFlowTest.kt
Labels: flow-library

Prepare release of 0.1.1
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation

Prepare release of 0.1.1
  CHANGELOG.adoc
Labels: documentation

Remove DataRestrictionException and make sdk self-contained
  CHANGELOG.adoc
  error/build.gradle.kts
  error/src/commonMain/kotlin/care/data4life/sdk/lang/DataRestrictionException.kt
  gradlePlugin/result-dependency/src/main/kotlin/care/data4life/sdk/result/dependency/Dependency.kt
  gradlePlugin/result-dependency/src/main/kotlin/care/data4life/sdk/result/dependency/Repository.kt
  gradlePlugin/result-dependency/src/main/kotlin/care/data4life/sdk/result/dependency/Version.kt
Labels: documentation, error-library

Mark change as breaking
  CHANGELOG.adoc
Labels: documentation

Prepare release of 0.2.0
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation

Prepare release of 0.2.0
  CHANGELOG.adoc
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: documentation

Update CODEOWNERS
  .github/CODEOWNERS
Labels: build
