Repository d4l-data4life/hc-result-sdk-kmp, pull requests merged in 2021-09, with the labels that each got.

#11 Change CODEOWNERS
  .github/CODEOWNERS
Labels: build

#12 [SDK-677] Change to latest setup
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/d4l-ci-label-configuration.yml
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-pull-request-labeler.yml
  .github/workflows/d4l-ci-pull-request-precheck.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/copyright/d4l_closed.xml
  .idea/copyright/profiles_settings.xml
  .idea/inspectionProfiles/d4l_inspections.xml
  .idea/inspectionProfiles/profiles_settings.xml
  CHANGELOG.adoc
  CODE-OF-CONDUCT.adoc
  CONTRIBUTING.adoc
  DEVELOPING.adoc
  Dangerfile.df.kts
  README.adoc
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/result/config/LibraryConfig.kt
  buildSrc/src/main/kotlin/care/data4life/gradle/result/script/dependency-updates.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/result/script/download-scripts.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/result/script/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/result/script/publishing.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/result/script/quality-spotless.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/result/script/versioning.gradle.kts
  error/build.gradle.kts
  flow/build.gradle.kts
  flow/src/iosMain/kotlin/care/data4life/sdk/flow/D4LSDKFlow.kt
  gradle.properties
  gradlePlugin/result-dependency/build.gradle.kts
  gradlePlugin/result-dependency/src/main/kotlin/care/data4life/gradle/result/dependency/Dependency.kt
  gradlePlugin/result-dependency/src/main/kotlin/care/data4life/gradle/result/dependency/DependencyPlugin.kt
  gradlePlugin/result-dependency/src/main/kotlin/care/data4life/gradle/result/dependency/GradlePlugin.kt
  gradlePlugin/result-dependency/src/main/kotlin/care/data4life/gradle/result/dependency/Repository.kt
  gradlePlugin/result-dependency/src/main/kotlin/care/data4life/gradle/result/dependency/Version.kt
  settings.gradle.kts
Labels: documentation, build, dependencies, flow-library, error-library, scripts

#13 [SDK-678] Bump updates
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
  CHANGELOG.adoc
  DEVELOPING.adoc
  README.adoc
  build.gradle.kts
  buildSrc/build.gradle.kts
  error/build.gradle.kts
  flow/build.gradle.kts
  flow/src/androidTest/kotlin/care/data4life/sdk/flow/D4LSDKFlowTest.kt
  flow/src/commonTest/kotlin/care/data4life/sdk/flow/D4LSDKFlowFactoryTest.kt
  flow/src/iosMain/kotlin/care/data4life/sdk/flow/D4LSDKFlow.kt
  flow/src/iosTest/kotlin/care/data4life/sdk/flow/D4lSDKFlowTest.kt
  flow/src/jvmTest/kotlin/care/data4life/sdk/flow/D4LSDKFlowTest.kt
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  gradlePlugin/result-dependency/src/main/kotlin/care/data4life/gradle/result/dependency/Dependency.kt
  gradlePlugin/result-dependency/src/main/kotlin/care/data4life/gradle/result/dependency/Version.kt
  settings.gradle.kts
Labels: documentation, build, dependencies, flow-library, error-library, breaking, scripts

#14 Prepare Release 0.3.0
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation

#15 Fix Download Script
  buildSrc/src/main/kotlin/care/data4life/gradle/result/script/download-scripts.gradle.kts
Labels: dependencies, scripts

#17 Bump Desugar
  CHANGELOG.adoc
  gradlePlugin/result-dependency/src/main/kotlin/care/data4life/gradle/result/dependency/Version.kt
Labels: documentation, dependencies
